<ion-header>
  <ion-toolbar>
    <ion-title>
      Piadas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img height="100" [src]="url" alt="">

  <ion-button (click)="showJoke()" color="success" expand="full">Exibir piada show!</ion-button>
  <h1>{{ piada?.pergunta}}</h1>
  <h3> <span style="color: red">Resposta:</span> {{ piada?.resposta}}</h3>
  
  <ion-input [(ngModel)]="partePiada" placeholder="Digite parte da piada!"></ion-input>
  <ion-button [disabled]="!partePiada" (click)="pesquisarPiada()" color="success" expand="full">Pesquisar</ion-button>
  
  <div *ngFor="let piada of piadasPesquisadas">
    <p>
      <a (click)="prepareDetail(piada)" [routerLink]="['/detalhar']" ><b>Pergunta: </b>{{ piada.pergunta}}</a>
    </p>
    
  </div>
  </ion-content>
